@page {
    size: 21cm 29.7cm;
    padding: 0.5cm;
    margin: 0;
}

@media screen {
    body {
        padding: 0.5cm;
        width: 21cm;
        height: 29.7cm;
        border: 1px solid black;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media print {
    body {
        padding: 0.5cm;
        width: 21cm;
        height: 29.7cm;
    }

    input {
        display: none;
    }
}

td {
    padding: 10px;
    font: 15px normal Georgia, 'Tahoma', Times, serif;
}

a {
    text-decoration: none;
    color: #000000;
}