<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="ua.dp.stud.studie.model.Studie"/>
        <mapping class="ua.dp.stud.studie.model.Course"/>
        <mapping class="ua.dp.stud.studie.model.KindOfCourse"/>
        <mapping class="ua.dp.stud.studie.model.Faculties"/>
        <mapping class="ua.dp.stud.studie.model.Specialties"/>
        <mapping class="ua.dp.stud.StudPortalLib.model.BaseImagesSupport"/>
        <mapping class="ua.dp.stud.StudPortalLib.model.ImageImpl"/>
    </session-factory>
</hibernate-configuration>
