#contentDiv {
    margin-left: 1%;
    max-width: 632px;
}

#tableHeader {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 17pt;
    font-weight: bold;
}

#newsTable {
    width: 100%;
    /*font-family: Tahoma, Geneva, sans-serif;*/
}

#newsTable .newsImage {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0px 20px 10px 10px;
}

#newsTable .newsText {
    font-size: 12pt;
    text-align: justify;
    margin-left: 5px;
}

#newsTable .newsHeader {
    margin-top: 5px;
    margin-bottom: 10px;
}

#newsTable .newsHeader>a {
    font-weight: bold;
    font-size: 13pt;
}

#newsTable .newsDecorImage {
    height: 23px;
}

#contentDiv td>a, #contentDiv td>label {
    /*font-family: Florence, cursive;*/
    font-size: 17pt;
    color: #a9a9a9;
    display: inline-block;
    width: 20px;
}
