#microblig #tableHeader {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 17pt;
    font-weight: bold;
}

#microblig #newsTable {
    width: 100%;
    /*font-family: Tahoma, Geneva, sans-serif;*/
}

#microblig #newsContent {
    clear: both;
}

#microblig .newsImage {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0px 20px 10px 10px;
}

#microblig .newsText {
    font-size: 12pt;
    text-align: justify;
    margin-left: 5px;
}

#microblig .newsHeader {
    margin-top: 5px;
    margin-bottom: 10px;
}

#microblig .newsHeader>a {
    font-weight: bold;
    font-size: 13pt;
}

#microblig .newsDecorImage {
    height: 23px;
}

/*footer of news*/
#microblig .reply_link_wrap {
    background: #eee;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
	clear: both;
}

#microblig .rel_date {
    background: url("../images/clock.png") no-repeat;
    background-position: 4px 60%;
    background-size: 14px;
    padding-left: 25px;
    margin-right: 5px
}

#microblig .rel_author {
    background: url("../images/auth.png") no-repeat;
    background-position: 4px 60%;
    background-size: 14px;
    padding-left: 25px;
    margin-right: 5px
}

#microblig .rel_view {
    background: url("../images/eye.png") no-repeat;
    background-position: 4px 60%;
    background-size: 18px;
    padding-left: 25px;
    margin-right: 5px
}
