<nav class="sort-pages modify-pages block_wrapper" id="navigation">
		<div id="menu-wrapper">
		<div id="menu">
			<ul><!--
				#foreach ($nav_item in $nav_items)
					#if ($nav_item.isSelected())
						--><li class="menu_item selected">
							<div class="arrow"></div>
					#else
						--><li class="menu_item">
					#end
						<a href="$nav_item.getURL()" $nav_item.getTarget()>$htmlUtil.escape($nav_item.getName())<p>$htmlUtil.escape($nav_item.getTitle())</p></a>

						#if ($nav_item.hasChildren())
							<ul class="child-menu">
								#foreach ($nav_child in $nav_item.getChildren())
									#if ($nav_child.isSelected())
										<li class="menu_item selected">
									#else
										<li class="menu_item">
									#end
										<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()<p>$nav_child.getTitle()</p></a>
									</li>
								#end
							</ul>
						#end
					</li><!--
				#end
			--></ul>
		</div>
	</div>
</nav>