/*-----------------------------------normal css selectors------------------------------------------------------------*/
.grayrect {
    /*imageLoader*/
    border: 1px solid;
    border-color: rgb(231, 231, 231);
    height: 70px;
    width: 443px;
    padding: 0;
    margin-top: 5px;
    margin-left: 12px;
    text-align: center;
    position: absolute;
    /*margin-top: 360px;*/
}

.greenbtn {
    /*#imgLoaderBtn wtf?*/
    width: 22%;
    height: 23px;
    border: 1px solid;
    background-color: #70ac53;
    border-color: #3b6e22 #3b6e22 #2c5115;
    color: white;
    position: absolute;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 170px;
    z-index: 1;
    text-align: center;
    padding-top: 3px;
    font-size: 13px;
}
#contentDiv {
    /*almost normal*/
    width: 900px;
    margin-left: -1%;
    display: inline-block;
}

.cmt-types {
    display: inline-block;
    float: left;
}

/*-----------------------------------end of normal css selectors-----------------------------------------------------*/

.error {
    color: #ff0000;
}

.info {
    font-size: 14px;
    color: #a9a9a9;
}

label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.ownGelery {
    margin-left: 5px;
    float: left;
}

.ribbon-wrapper {
    width: 145px;
    position: relative;
}

.btnselected {
    background-color: rgba(0, 122, 255, 0.47);
}

.btntype {
    background-color: #4473B9;
    font-size: 11px;
}

.ribbon-front {

    background-color: #4473B9;
    height: 40px;
    width: 160px;
    position: relative;
    left: -10px;
    z-index: 2;
}

.btnselected:hover, .btntype:hover {
    background-color: #111199;
}

.btnselected, .btntype,
.ribbon-back-left {
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
}

.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
    position: absolute;
    z-index: 1;
    border-style: solid;
    height: 0px;
    width: 0px;
}

.ribbon-edge-bottomleft {
    top: 40px;
}

.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
    left: -10px;
    border-color: transparent #325281 transparent transparent;
}

.ribbon-edge-topleft {
    top: -10px;
    border-width: 10px 10px 0 0;
}

.ribbon-edge-bottomleft {
    border-width: 0 10px 0px 0;
}

.ribbon-back-left {
    position: absolute;
    top: -10px;
    left: -30px;
    width: 30px;
    height: 40px;
    background-color: #3F68A5;
    z-index: 0;
}

#tableHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17pt;
    font-weight: bold;
}

#newsTable {
    width: 83%;
    font-family: Arial, Helvetica, sans-serif;
    /*margin: 0px 0px 10px 10px;*/
    z-index: 99;
    display: inline-block;
    float: right;
}

#buttons {
    margin: 0px 20px 10px 10px;
    z-index: 98;
}

#newsTable .newsImage {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0px 20px 10px 10px;

}

#newsTable .newsText {
    font-size: 12pt;
    text-align: justify;
    margin-left: 5px;
}

#newsTable .newsHeader {

    margin-top: 5px;
    margin-bottom: 10px;
}

#newsTable .newsHeader>a {
    font-weight: bold;
    font-size: 14pt;
}

#newsTable .newsDecorImage {
    height: 23px;
}

#contentDiv .paginationImage {
    max-width: none;
    width: 80px;
    height: 65px;
}

#contentDiv td>a, #contentDiv td>label {
    font-size: 17pt;
    color: #a9a9a9;
    display: inline-block;
    width: 20px;
}

/*single news*/
#singleView {
    width: 100%;
    text-align: left;
}

#singleView .newsHeader {
    text-align: center;
    width: 100%;
    text-align: justify;
    font-size: 16pt;
    font-weight: bold;
}

#singleView .newsHeader>img {
    width: 33%;
    float: left;
    margin: 0px 20px 40px 10px;
}

#singleView .newsText {
    width: 100%;
    font-size: 11pt;
    line-height: 16pt;
    text-align: justify;
}

#underline-decoration {
    width: 100%;
    text-align: center;
}

#underline-decoration .newsDecorImage {
    height: 23px;
}

#underline-decoration >table {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

/*add & edit news*/
#title {
    overflow:  hidden;
    resize: none;
    margin-top: 5px;
    width: 430px;
    margin-left: 8px;
    font-size: large;
    padding-left: 5px;
}

#textInput {
    resize: none;
    width: 430px;
    height: 471px;
    margin-left: 15px;
    font-size: 12px;
    padding-left: 10px;
}

#mainPic {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin-left: 12px;
    margin-top: 15px;
    width: 443px;
    height: 253px;
    overflow: hidden;
    float: left;
}

#mainImageLoader {
    border: 1px solid;
    border-color: rgb(231, 231, 231);
    height: 70px;
    width: 443px;
    padding: 0;
    cursor: pointer;
    margin-top: 285px;
    margin-left: 12px;
}

#mainImgloaderBtn {
    width: 22%;
    height: 23px;
    margin-top: 20px;
    margin-left: 14px;
    border: 1px solid;
    background-color: rgb(112, 172, 83);
    border-color: rgb(59, 110, 34) rgb(59, 110, 34) rgb(44, 81, 21);
    font-size: 10px;
    color: white;
    cursor: pointer;
}

#mainImage {
    background: none;
    /*background-color: green;*/
    border: 1px solid;
    opacity: 0;
    width: 100%;
    height: 24px;
    margin-top: -48px;
    z-index: -1;
    cursor: pointer;
}

#imageLoader {
    border: 1px solid;
    border-color: rgb(231, 231, 231);
    height: 70px;
    width: 443px;
    padding: 0;
    cursor: pointer;
    margin-top: -5px;
    margin-left: 12px;
}

#mainPic input {
    height: 253px;
    width: 443px;
    position: absolute;
    right: 0px;
    opacity: 0;
    cursor: pointer;
}

#lup {
    background: url("../images/L_69x65.png") no-repeat;
    height: 69px;
    width: 65px;
    position: absolute;
    z-index: 2;
}

#rdn {
    background: url("../images/R_69x65.png") no-repeat;
    height: 69px;
    width: 65px;
    margin-top: 215px;
    margin-left: 397px;
    position: absolute;
    z-index: 2;
}

#list {
    z-index: 1;
}

/*multiple image loader*/

#imgloaderBtn {
    width: 22%;
    height: 23px;
    margin-top: 20px;
    margin-left: 14px;
    border: 1px solid;
    background-color: rgb(112, 172, 83);
    border-color: rgb(59, 110, 34) rgb(59, 110, 34) rgb(44, 81, 21);
    font-size: 10px;
    color: white;
    cursor: pointer;
}

#aui_3_2_0_11607 {
    background: none;
    /*background-color: green;*/
    border: 1px solid;
    opacity: 0;
    width: 100%;
    height: 24px;
    margin-top: -48px;
    z-index: -1;
    cursor: pointer;
}

#nt {
    cursor: pointer;
    margin-top: -18px;
    font-size: 12px;
}

.aui-field-label {
    /*text ????????*/
    font-weight: bold;
    padding-left: 9px;
}

#eventSetting {
    margin-top: -145px;
    margin-right: 5px;
}

/*rich editor*/
span.cke_skin_kama {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid rgb(231, 231, 231);
    padding: 5px;
    width: 426px;
}

/*submit btn*/
#sbm {
    margin-left: 8px;
}

.disable {
    color: rgb(155, 155, 155);
}

/*calendar date*/
#calendarDate {
    width: 156px;
    border-width: thin;
}

/*footer of news*/
.reply_link_wrap {
    background: #eee;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.rel_date {
    background: url("../images/clock.png") no-repeat;
    background-position: 4px 60%;
    background-size: 14px;
    padding-left: 25px;
    margin-right: 5px
}

.rel_author {
    background: url("../images/auth.png") no-repeat;
    background-position: 4px 60%;
    background-size: 14px;
    padding-left: 25px;
    margin-right: 5px
}

.rel_view {
    background: url("../images/eye.png") no-repeat;
    background-position: 4px 60%;
    background-size: 18px;
    padding-left: 25px;
    margin-right: 5px
}
#jform .colunmBx {
    float: left;
    width: 270px;
}

#jform .rightCl {
    margin-right: 5px;
}

#jform fieldset {
    border: 0;
}

#jform .textBox {
    margin-bottom: 5px;
}

#jform .error {
    color: #ff0000;
}

#jform label.valid {
    width: 24px;
    height: 24px;
    background: url(http://109.206.40.61:8080/stud-theme1/images/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}

#jform label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

#jform .inpts {
    width: 215px;
}

#jform #mainContent {
    margin-top: 5px;
    width: 600px;
    margin: 0 auto;
}

#jform #formTitle {
    font-size: 160%;
}

#jform .fieldReg {
    margin-top: 15px;
}

#jform #titleLevel2 {
    font-size: 130%;
    width: 98%;
    padding: 0;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
}

#jform .splLink {
    position: absolute;
    right: 40px;
    top: 288px;
    width: 100%;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}

#jform a {
    text-decoration: none;
}

#jform .bottomDiv {
    padding-top: 15px;
}

#jform .LoadFoto {
    margin-top: 15px;
    padding: 0;
    float: left;
}

#jform #submitButton {
    text-align: center;
    margin-top: 10px;
}

#registration-success {
    background: url(http://109.206.40.61:8080/stud-theme1/images/messages/success.png) 6px 50% no-repeat rgb(244, 253, 239);
    border: 1px solid rgb(172, 223, 167);
    border-image: initial;
    color: rgb(56, 79, 52);
    display: block;
    font-weight: normal;
    margin: 5px auto;
    padding: 6px 6px 6px 30px;
    text-align: left;
}
#labels{
    font-size: 14px;
    color: gray;
}
#redStar1{
    color: red;
    position: absolute;
    bottom: 91%;
    right: 0%;
}
#redStar2{
    color: red;
    position: absolute;
    bottom: 84%;
    right: 0%;
}
label.invisiblevalid {
display: none !important;
}
label.error[for=mainImage]{
    position:absolute;
    left: 15%;
}