.Event-window {
}

.Event-window .EventContent {
    width: 300px;
    margin-left: 36px;
}

.Event-window .LeftSwith {
    float: left;
    vertical-align: middle;
}

.Event-window #leftBtn {
    background: url(../images/btn_left.png);
    cursor: pointer;
    width: 36px;
    height: 36px;
}

.Event-window .rightButton {
    top: 30%;
    position: absolute;
    right: 10px;
}

.Event-window .leftButton {
    top: 30%;
    position: absolute;
}

.Event-window #rightBtn {
    background: url(../images/btn_right.png);
    cursor: pointer;
    width: 36px;
    height: 36px;
}

.Event-window #like {
    float: right;
    padding: 5px;
    font-size: 19px;
    color: #3072b3;
    cursor: pointer;
}

.Event-window .newsImage {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0px 20px 10px 10px;
}

.event-panel #count {
    background: #e02424;
    position: absolute;
    right: 1px;
    top: -15px;
    padding: 0.2px 2px;
    font-size: 10px;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-width: 12px;
    text-align: center;
}

.event-panel #elem {
    float: left;
    position: relative;
}

.event-panel .event {
    font-size: 18px;
    padding: 5px 10px;
    position: relative;
    overflow: visible;
    /*border: 1px solid #d4d4d4;*/
    margin: 0;
    text-decoration: none;
    /*text-shadow: 1px 1px 0 #fff;*/
    color: rgb(139, 138, 138);
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    /*background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;*/
    zoom: 1;
}

.event-panel .event:hover {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    color: #fff;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

#event-panel-wraper {
    float: right;
    padding-right: 13%;
}

#ep {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    opacity: 0.2;
    right: 0%;
    background-color: rgb(0, 0, 0);
}

#ep:hover {
    opacity: 1;
    background-color: rgb(255, 255, 255);
}

/* LOADER */
.loader {
    width: 32px;
    height: 32px;
}

/* основные настройки отображения */
.bar {
    background-color: #99aaca;
    border: 1px solid #96a6c9;
    float: left;
    margin-right: 4px;
    margin-top: 6px;
    width: 6px;
    height: 18px;

    /* Set the animation properties */
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loadingbar;
}

/* задержка анимации для второго и третьего элемента */
.loader .bar:nth-child(2) {
    animation-delay: 0.1s;
}

.loader .bar:nth-child(3) {
    animation-delay: 0.2s;
}

/* анимация */
@keyframes loadingbar {
    0% {
    }
    10% {
        margin-top: 5px;
        height: 22px;
        border-color: #d1d8e6;
        background-color: #bac5db;
    }
    20% {
        margin-top: 0px;
        height: 32px;
        border-color: #d1d7e2;
        background-color: #c6ccda;
    }
    30% {
        margin-top: 1px;
        height: 30px;
        border-color: #d1d8e6;
        background-color: #bac5db;
    }
    40% {
        margin-top: 3px;
        height: 26px;
    }
    50% {
        margin-top: 5px;
        height: 22px;
    }
    60% {
        margin-top: 6px;
        height: 18px;
    }
    70% {
    }
    /* разрыв между кадрами вызовет задержку */
    100% {
    }
}

/*Всплывающие окно*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

#epComment {
    width: 392px;
    max-width:392px;
    min-width:392px;
    height:100px;
    min-height:100px;
    max-height:200px;
}
