.ui-datepicker-month,.ui-datepicker-year {
    height: 31px;
}

#registration-form .colunmBx {
    float: left;
    width: 270px;
}

#registration-form .rightCl {
    margin-right: 5px;
}

#registration-form fieldset {
    border: 0;
}

#registration-form .textBox {
    margin-bottom: 5px;
}

#registration-form .error {
    color: #f00;
}

#registration-form label.valid {
    width: 24px;
    height: 24px;
    background: url(http://109.206.40.61:8080/stud-theme1/images/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}

#registration-form label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

#registration-form .inpts {
    width: 215px;
}

#registration-form #mainContent {
    margin-top: 5px;
    width: 600px;
    margin: 0 auto;
}

#registration-form #formTitle {
    font-size: 160%;
}

#registration-form .fieldReg {
    margin-top: 15px;
}

#registration-form #titleLevel2 {
    font-size: 130%;
    width: 98%;
    padding: 0;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
}

#registration-form #spoiler {
    position: absolute;
    color: #28477c;
    font-weight: normal;
}

#registration-form a {
    text-decoration: none;
}

#registration-form .bottomDiv {
    padding-top: 15px;
}

#registration-form .LoadFoto {
    margin-top: 15px;
    padding: 0;
    float: left;
}

#registration-form #submitButton {
    text-align: center;
    margin-top: 10px;
}

#registration-success {
    background: url(http://109.206.40.61:8080/stud-theme1/images/messages/success.png) 6px 50% no-repeat #f4fdef;
    border: 1px solid #acdfa7;
    border-image: initial;
    color: #384f34;
    display: block;
    font-weight: normal;
    margin: 5px auto;
    padding: 6px 6px 6px 30px;
    text-align: left;
}}