.dayoff {
    color: #0F8CD3;
    font-weight: 700;
}

.off {
    color: red;
    cursor: pointer;
}

#calendarTable {
    border-collapse: collapse;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
}

#bodyCalend {
    float: left;
    width: 940px;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 20px;
}

#calendarTable td>a {
    text-decoration: none;
}

#calendarTable tr>td {
    text-align: center;
    cursor: default;
}

.haveEvent a {
    color: red;
}

div.pop-up {
    display: none;
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: #d2e0e8;
}

#calendar_month {
    height: 44px;
    width: 223px float : right;
    text-align: center;
    margin-right: 40px;
}

#calendar_month .left,
#calendar_month .right {
    float: right;
    height: 44px;
    width: 46px;
    cursor: pointer;
    background-repeat: no-repeat;
}

#calendar_month .month {
    margin-top: 4px;
    padding: 0 10px;
    float: right;
    width: 111px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 6px;
    color: rgb(75, 75, 75);
}

#calendar_month .left:hover {
    background-position: 0 -46px;
}

#calendar_month .right:hover {
    background-position: 0 -44px;
}

#calendar_month .right {
    margin-top: 2px;
    background-image: url(../images/2rightArrow.png);
}

#calendar_month .left {
    margin-top: 4px;
    background-image: url(../images/2leftArrow.png);
}

#outerCalendarContainer {
    position: absolute;
    height: 62px;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
}