<?xml version="1.0"?>
<!DOCTYPE routes PUBLIC "-//Liferay//DTD Friendly URL Routes 6.0.0//EN"
        "http://www.liferay.com/dtd/liferay-friendly-url-routes_6_0_0.dtd">
<routes>
    <route>
        <pattern>/add</pattern>
        <implicit-parameter name="mode">add</implicit-parameter>
    </route>
    <route>
        <pattern>/delImage/{imageId:\d+}</pattern>
        <implicit-parameter name="mode">delImage</implicit-parameter>
    </route>
    <route>
        <pattern>/delete/{currentPage:\d+}/{eventID:\d+}</pattern>
        <implicit-parameter name="mode">delete</implicit-parameter>
    </route>
    <route>
        <pattern>/delete/{eventID:\d+}</pattern>
        <implicit-parameter name="mode">delete</implicit-parameter>
    </route>
    <route>
        <pattern>/home</pattern>
        <implicit-parameter name="nAction">home</implicit-parameter>
    </route><route>
        <pattern>/</pattern>
        <implicit-parameter name="mode">viewAll</implicit-parameter>
    </route>
    
    <route>
        <pattern>/edit/{eventId:\d+}</pattern>
        <implicit-parameter name="mode">edit</implicit-parameter>
    </route>
    <route>
        <pattern>/pagination/{direction}/{archive}/{currentPage:\d+}</pattern>
        <implicit-parameter name="mode">pagination</implicit-parameter>
    </route>

    <route>
        <pattern>/archive/soon</pattern>
        <implicit-parameter name="archive">true</implicit-parameter>
    </route>
    <route>
        <pattern>/archive</pattern>
        <implicit-parameter name="archive">false</implicit-parameter>
    </route>
    <route>
        <pattern>/view/{eventID:\d+}/{currentPage:\d+}</pattern>
    </route>
    <route>
        <pattern>/home/{currentPage:\d+}</pattern>
    </route> 
    
</routes>